<h2>List of Twitters</h2>

<div class="container">
	<form action="/api/tws/saveTw" method="post">
		<div class="form-group">
			<label for="post">Write your post...</label>
			<textarea placeholder="What do you want to share?" class="form-control" name="message" id="post" rows="5" required="true"></textarea>
		</div>
		<div>
			<button type="submit" class="btn btn-primary">Post</button>
		</div>
	</form>
</div>

<div style="width:100%">
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Twits</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
		<tbody>
			{{#each tws}}
			<tr>
				<td>{{{this.message}}}</td>
				<td>{{{formatDate this.createdAt}}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>