<h1>List of Twitters</h1>

<ul>
  {{#each tws}}
    <li>{{{this.message}}}</li>
  {{/each}}
</ul>

<table>
	<tr>
		<th>Twits</th>
		<th>Date</th>
	</tr>
	{{#each tws}}
		<tr>
			<td>{{{this.message}}}</td>
			<td>{{{this.createdAt}}}</td>
		</tr>
	{{/each}}
</table>